@model IEnumerable<CMS.Models.SocialMediaLinks>

<h2>Social Media Links</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Facebook Link</th>
            <th>Twitter Link</th>
            <th>Google Link</th>
            <th>Instagram Link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var link in Model)
        {
            <tr>
                <td>@link.FacebookLink</td>
                <td>@link.TwitterLink</td>
                <td>@link.GoogleLink</td>
                <td>@link.InstagramLink</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@link.Id" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this link?')" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
