@model IEnumerable<CMS.Models.AboutUs>

@{
    ViewData["Title"] = "Index";
}

<h2>About Us Index</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Video Link</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@Html.DisplayFor(modelItem => item.Content)</td>
                    <td>@Html.DisplayFor(modelItem => item.VideoLink)</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
