@model IEnumerable<CMS.Models.OrganizationStatistics>

<h2>Organization Statistics</h2>

<table class="table">
    <thead>
        <tr>
            <th>Statistics</th>
            <th>Committees</th>
            <th>Team Members</th>
            <th>Beneficiaries</th>
            <th>Scientific Activities</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Statistics</td>
                <td>@item.Committees</td>
                <td>@item.TeamMembers</td>
                <td>@item.Beneficiaries</td>
                <td>@item.ScientificActivities</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Create new</a>
